html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.cart {
  position: absolute;
  top: -10px;
  right:-5px ;
  z-index: 1030;
  background-color: red;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.jumbotron {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.glow-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(218 171 58);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(218 171 58), 0 0 20px rgb(218 171 58), 0 0 30px rgb(218 171 58);
    transition: box-shadow 0.3s ease;
}
.glow-link:hover {
        box-shadow: 0 0 20px rgb(218 171 58), 0 0 30px rgb(218 171 58), 0 0 40px rgb(218 171 58);
}
.carousel-control-next-icon {
    filter: invert(1); /* turns white icon to black */
}
.carousel-control-prev-icon {
    filter: invert(1);
}
.carousel-control-prev,
.carousel-control-next {
    width: 3%; /* or even 3% depending on your design */
    justify-content: flex-start; /* for prev */
    align-items: center;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-next {
    right: -75px;
    justify-content: flex-end; /* pushes icon to the edge */
}

.active-nav-link {  
    color: #6d10b9 !important ;
    font-weight: bold;
    text-decoration: underline; 
}
